#appChart {
  width: 80%;
  height: 300px;
}

.node-chart {
  width: 100%;
  height: 200px;
}

.appchart-header {
  background-color: #349eff;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;

  h2 {
    font-size: 12px;
  }
}


.appchart-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.appchart-wrapper {
  margin: 20px;
  padding-bottom: 50px;
  border: 1px solid #d4d4d4;
  position: relative;

  li {
    margin-bottom: 10px;

    span {
      color: #fc4f07;
      font-size: 16px;
    }
  }
}

.nodechart-container {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin: 20px;
}

.node-chart-wrapper {
  box-sizing: border-box;
  margin: 10px;
  border: 1px dashed;
  flex: 0 1 20%;
  width: 20%;
  position: relative;

  .appchart-header{
    color: #657180;
  }

  .appchart-header.flash {
    animation: ease-in-out breathheader 200ms infinite alternate;
  }
}

@keyframes breathheader {
  0% {
    opacity: .2;

  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes breathheader {
  0% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

.nodeChart-info-wrapper {
  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.apprule {
  position: absolute;
  top: 150px;
  right: 8%;
  li {
    text-align: left;
  }
  .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background-color: #464c5b;
  }
}

.btn-status {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
  line-height: 40px;
  border-radius: 100%;
  font-size: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC0CB), to(#FF69B4));
  background-image: -moz-linear-gradient(#FFC0CB, #FF69B4);
  animation: ease-in-out breath 500ms infinite alternate;
  -webkit-animation: ease-in-out breath 500ms infinite alternate;
  cursor: pointer;
}

.run {
  border: 1px solid #78C850;
  background-color: #37B157;
}

.stop {
  background-color: #EA0000;
}

@keyframes breath {
  0% {
    opacity: .2;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    border: 1px solid #fff;
    box-shadow: 0 1px 30px #fff;
  }
}

@-webkit-keyframes breath {
  0% {
    opacity: .2;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    border: 1px solid rgba(255, 192, 203, 1);
    box-shadow: 0 1px 30px rgba(255, 192, 203, 1);
  }
}
